.button-row {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.button-row button {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 45%;
}

.close-button {
    top: 3px;
    right: 3px;
    z-index: 1000;
}